VITE_APP_NAME=Smith Enterprises Tax Management
VITE_APP_VERSION=4.0.0
VITE_APP_ENVIRONMENT=development

VITE_SUPABASE_URL=https://sowtctnnjbmwtbrrrnvy.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_awK_CrvAyQ1LA1ds8gZmzg_vkLoNTX2